# Paper AIOM

In [2]:
# Classes

import pandas as pd
import numpy as np
import matplotlib as mpl
import openpyxl

In [33]:
data = pd.read_excel("D:\GithubDjonathan\AIOM\Paper\Demanda.xlsx", engine='openpyxl')
data = data.rename(columns={'Nº do material': "material"})
uniqueValues = data.material.unique()
print(f"Quantidade de produtos diferentes = {uniqueValues.size}")

Quantidade de produtos diferentes = 890

In [34]:
data

       material       Data      Demanda
0      14512164 2019-11-30        1.000
1      11613045 2019-12-07       13.000
2      15321257 2019-12-11        3.000
3      14961079 2019-12-12        1.000
4      11557275 2019-12-17      100.000
...         ...        ...          ...
21893  14449599 2021-02-27      200.000
21894  11120374 2021-02-27      100.000
21895  10023620 2021-02-27        1.000
21896  10023623 2021-02-27       11.000
21897  10160720 2021-03-01  1450374.296

[21898 rows x 3 columns]