In [1]:
# importing modules
import pandas as pd

In [8]:
# creating a dataframe df
df = pd.DataFrame(
    {
        "Date": [
            pd.Timestamp("2000-01-02"),
            pd.Timestamp("2000-01-02"),
            pd.Timestamp("2000-01-09"),
            pd.Timestamp("2000-01-10"),
            pd.Timestamp("2000-01-10"),
            pd.Timestamp("2000-01-11")
        ],
        "ID": [1, 2, 3, 4, 5, 6],
        "Price": [140, 120, 230, 40, 100, 450]
    }
)
  
# show df
print(df)

        Date  ID  Price
0 2000-01-02   1    140
1 2000-01-02   2    120
2 2000-01-09   3    230
3 2000-01-10   4     40
4 2000-01-10   5    100
5 2000-01-11   6    450

In [9]:
# applying the groupby function on df
df.groupby(pd.Grouper(key='Date', axis=0, 
                      freq='2D')).sum()

            ID  Price
Date
2000-01-02   3    260
2000-01-04   0      0
2000-01-06   0      0
2000-01-08   3    230
2000-01-10  15    590