# Testes

In [2]:
# Classes

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import openpyxl
import utils
from datetime import date
from datetime import timedelta
from datetime import datetime

In [8]:
# creating a dataframe df
df = pd.DataFrame(
    {
        "Date": [
            pd.Timestamp("2000-01-02"),
            pd.Timestamp("2000-01-02"),
            pd.Timestamp("2000-01-09"),
            pd.Timestamp("2000-01-10"),
            pd.Timestamp("2000-01-10"),
            pd.Timestamp("2000-01-11")
        ],
        "ID": [1, 2, 3, 4, 5, 6],
        "Price": [140, 120, 230, 40, 100, 450]
    }
)
  
# show df
print(df)

        Date  ID  Price
0 2000-01-02   1    140
1 2000-01-02   2    120
2 2000-01-09   3    230
3 2000-01-10   4     40
4 2000-01-10   5    100
5 2000-01-11   6    450

In [9]:
# applying the groupby function on df
df.groupby(pd.Grouper(key='Date', axis=0, 
                      freq='2D')).sum()

            ID  Price
Date
2000-01-02   3    260
2000-01-04   0      0
2000-01-06   0      0
2000-01-08   3    230
2000-01-10  15    590

In [3]:
data1 = pd.read_excel("Demanda2019.xlsx", engine='openpyxl')
data2 = pd.read_excel("Demanda2020.xlsx", engine='openpyxl')
data3 = pd.read_excel("Demanda2021.xlsx", engine='openpyxl')
data = pd.concat([data1, data2, data3])
data = data.rename(columns={'Nº do material': "material", "Data": "Date", "Demanda": "Demand"})
print(f"Quantidade de produtos diferentes = {data.material.unique().size}")
print(data.head())

Quantidade de produtos diferentes = 1528
     material       Date  Demand
0  10160719.0 2019-01-09    30.0
1  10023620.0 2019-01-09    30.0
2  11039900.0 2019-01-09    62.0
3  11051281.0 2019-01-09    10.0
4  11039871.0 2019-01-09   214.0

In [4]:
# Create a list os products
products = list()

pareto = {"a": 100, "b":80}

for material in data.material.unique():
    product = utils.Product(dataframe=data[data.material == material], material=material)
    product.processDataframe(pareto)

    products.append(product)

# Sorting the dataset
products.sort(key = lambda x: x.size, reverse = True)

In [5]:
products[0].report()

<-------- Report: Product 11252000.0 -------->
Nº of observations = 7288
Pareto = A
Selected Model = 0
Error: 0

In [20]:
# applying the groupby function on df
teste = products[32].getDataframe().groupby(pd.Grouper(key='Date', axis=0, 
                      freq='2D')).sum()

In [22]:
teste[teste["Demand"] == 0]

            material  Demand
Date
2021-01-17       0.0     0.0
2021-01-19       0.0     0.0
2021-01-23       0.0     0.0
2021-01-31       0.0     0.0
2021-02-04       0.0     0.0
...              ...     ...
2021-11-19       0.0     0.0
2021-11-23       0.0     0.0
2021-12-11       0.0     0.0
2021-12-15       0.0     0.0
2021-12-17       0.0     0.0

[65 rows x 2 columns]